* {
  font-family: "-apple-system", "BlinkMacSystemFont", "Apple SD Gothic Neo",
    "Inter", "Spoqa Han Sans", "Segoe UI", Sans-Serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

body {
  font: Apple SD Gothic Neo;
  /* background-color: #0a0a0a; */
  /* background-color: #f6efd2; */
  color: green;
}

nav {
  display: flex;
  height: 5vh;
  width: 98%;
  justify-content: flex-end;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

li {
  text-decoration: none;
  color: white;
  margin-top: 2vw;
  margin-left: 2vw;
  color: green;
}

/*hello Svg*/

body {
  background-color: #f6efd2;
}

.green {
  color: green;
}

.svg-container {
  background-color: #f6efd2;
  display: flex;
  height: 95vh;
  justify-content: center;
}

svg {
  width: 60%;
}

.cls-1 {
  fill: none;
  stroke: green;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 43px;
  -webkit-animation: myanimation 10s infinite;
  -moz-animation: myanimation 10s infinite;
  -ms-animation: myanimation 10s infinite;
  -o-animation: myanimation 10s infinite;
  animation: myanimation 10s infinite;
}

.cls-2 {
  fill: 100%;
}

@keyframes myanimation {
  0% {
    stroke: green;
  }
  25% {
    stroke: #0f4c81;
  }
  50% {
    stroke: #88b14b;
  }
  75% {
    stroke: brown;
  }
}

.scene_element {
  animation-duration: 2s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.scene_element--fadein {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@font-face {
  src: url("./media/zig.ttf");
  font-family: "zig";
}
section {
  overflow: hidden;
}

.titleSvg {
  width: 20vw;
}

.helloSvg {
  width: 200vw;
  justify-self: center;
  align-self: center;
  z-index: 100;
}

.ment {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #5a5a5a;
  color: #e0e0e0;
  font-size: 1.5vw;
  font-weight: 550;
}

.ment div p {
  margin: 1vw;
}

.howToUse {
  width: 100vw;
  height: 180vh;
  overflow: hidden;
  background: url("./media/hello.svg") no-repeat;
  background-size: cover;
}

.howToUse > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.insWrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
  margin-left: 10vw;
  margin-right: 10vw;
}

.insWrapper li {
  height: 45vh; /*25vw*/
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.insWrapper li:first-child {
  position: relative;
  top: -5vw;
}

.insWrapper li p {
  color: #5a5a5a;
  font-size: 1.3vw;
  font-weight: 500;
  margin: 0.3vw;
}

.insImg {
  width: 45vh;
}

.gallery {
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #5a5a5a url("./media/hello-2.svg") no-repeat;
  background-size: cover;
}

.details {
  height: 100vh;
  background-color: #f6efd2;
}

.details > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.details div:nth-child(2) {
  position: relative;
  left: -3vw;
  margin-bottom: 5vw;
}

.termWrapper {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  margin-left: 10vw;
  margin-right: 10vw;
}

.termWrapper li {
  display: flex;
  width: 120%;
  color: #5a5a5a;
  font-size: 1.3vw;
  font-weight: 500;
  line-height: 2vw;
  margin-bottom: 2vh;
}

.bar {
  width: 5px;
  height: 4vw;
  margin-right: 1.5vw;
  background-color: #5a5a5a;
}

.download {
  text-align: center;
  font-size: 1vw;
  font-weight: 500;
  color: #5a5a5a;
}

.download button {
  width: 13vw;
  height: 3.3vw;
  font-family: "zig";
  font-size: 1vw;
  border-radius: 10px;
  margin: 2vw;
  background-color: #5a5a5a;
  color: #e0e0e0;
}

.credits {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #5a5a5a;
}
